
.statebox-wrap {
    height: 600px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3d405b;
    border-radius: 7px;
    -webkit-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.75);
}

.statebox-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

.statebox-title h1 {
    font-family: Roboto;
    color: #fff;
}

.task {
    position: relative;
    margin: 10px;
    background-color: #262b56;
    border-radius: 7px;
    width: 90%;
    height: auto;
}


.changestatus{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    height: 0;
    border-radius: 7px;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', 'sans-serif';
    color: #fff;
}

.task:hover .changestatus{
    height: 100%;
}


.task-title p{
    color: #fff;
    font-family: Roboto;
    margin: 10px;
    text-align: center;
}

.task-body {
    margin: 10px;
    text-align: center;
    font-family:'Nunito';
    color:#fff;
}

.taskelements-separation {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 1000px)
{

    .content-container{
        flex-direction: column;
        justify-content: center;
    }
    .statebox-wrap {
        width: 300px;
    }
}

.addtaskform {
    width: 100%;
    display: flex;
    margin-top: 5px;
    justify-content: center;
}
.addtask {
    border: none;
    outline: 0;
    padding: 10px;
    border-radius: 7px;
    background-color: #fff;
    border: 2px solid #262b56;
    width: 50%;
    font-family: 'Poppins';
}

.title {
    width: 15%;
}

.addtask::placeholder {
    color: #fff;
    font-family: 'Poppins';
}

.newKanban{
display: flex;
width: 100%;
justify-content: center;
align-items: center;
flex-direction: column;
}


.newKanban p {
    color: #fff;
    font-family: 'Roboto';
}

.form-task-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spaced {
    margin: 5px
}
